body {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(49, 49, 49);
}
.frame {
  width: 90vw;
  height: 90vh;
  background-color: rgb(219, 30, 30);
  box-sizing: border-box;
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display {
  width: 80vw;
  height: 75vh;
  flex: 1;
  background-color: rgb(203, 203, 203);
  border-radius: 5vw;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.decorativeBtn {
  width: 8vw;
  height: 8vw;
  background-color: rgb(255, 255, 255);
  border: 3px solid #363636;
  border-radius: 100%;
}
.decorativeLabel {
  color: gold;
  flex: 0 1 auto;
  flex-basis: 50px;
  font-size: 2em;
  text-align: center;
  align-content: center;
  font-family: "Brush Script MT", cursive;
  justify-self: center;
  align-self: center;
  margin-right: 0px;
}
.lowerDecorativeButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1% 1% 1%;
}
.gridRow {
  flex: 1;
  display: flex;
}
.gridElement {
  border: 1px, solid, black;
  flex: 1;
}
.gridElementHover {
  background-color: rgb(125, 125, 125);
}
.frameHeader {
  display: flex;
  width: 100%;
  justify-content: space-around;
  user-select: none;
}
.btnSettings {
  position: fixed;
  right: 50px;
  top: 10px;
  font-family: "Brush Script MT", cursive;
  font-size: 1em;
  color: white;
}
.settingsWindow {
  border-radius: 40px;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 20px;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.applyBtn {
  font-weight: 400;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(255, 175, 175);
  user-select: none;
}
.applyBtn:active {
  background-color: rgb(255, 111, 111);
}
